@font-face { font-family: "HeliosCondLight"; src: url("../fonts/HeliosCondLight.eot"); src: url("../fonts/HeliosCondLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondLight.woff") format("woff"), url("../fonts/HeliosCondLight.ttf") format("truetype"), url("../fonts/HeliosCondLight.svg#HeliosCondLight") format("svg"); font-weight: normal; font-style: normal; }

.label input, .label textarea { -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; -ms-transition: all 0.1s linear; transition: all 0.1s linear; }
.label input:focus, .label textarea:focus { border-color: #bbbbbb; }

.podcast-wrap { margin-right: -15px; }
.podcast-wrap:before, .podcast-wrap:after { content: ""; display: table; }
.podcast-wrap:after { clear: both; }

.podcast { float: left; margin-right: 15px; width: 171px; overflow: hidden; font-size: 14px; color: #3c3c3c; }
.podcast p { margin-bottom: 15px; }

.poscast__img { margin-bottom: 8px; }
.poscast__img a { display: block; height: 153px; line-height: 153px; overflow: hidden; text-align: center; }
.poscast__img img { vertical-align: middle; }

.podcast__title { display: block; }
