@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
html
	background: url(../img/bg.jpg) 
body
	background: url(../img/bg-pic.jpg) no-repeat 54% 340px
	font-family: Tahoma, Arial, sans-serif
	font-weight: normal 
	font-size: 12px
	line-height: 1.2
	color: #3c3c3c 
	//-webkit-transform: translate3d(0,0,0)
	//-weblit-backface-visibility: hidden
// resets
a img, fieldset 
	border: none
a
	color: #000
	text-decoration: none
p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: Tahoma, Arial, sans-serif
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section
	display: block
table
	border-spacing: 0
	border-collapse: collapse
// title styles
.h1
	font-size: 24px
	+font 	

// common styles
.wrap
	position: relative
	width: 1020px
	margin: 0 auto
	background: #FFF
.title
	+font	
	font-size: 43px
	text-transform: uppercase
	color: $yl
.title-less
	+font
	font-size: 21px 
.link-all
	margin-bottom: 15px
	a
		position: relative
		padding-right: 17px
		+font
		font-size: 18px
		&:after
			content: ""
			position: absolute
			top: 6px
			right: 0
			+s(title-arr)
		&:hover
			color: $yl
			&:after
				+s(title-arr-h)
//top
.top
	background: #3c3c3c 
.top__in
	width: 1020px
	height: 46px
	margin: 0 auto
.enter
	float: left
	margin: 15px 0 0 8px
	a
		float: left
		padding: 0 15px 3px
		color: #FFF 
		&:hover
			color: $yl 
		&:first-child
			border-right: 2px solid #4c4c4c 
.language
	float: right
	margin: 15px 17px 0 35px
	a, span
		float: left
		margin: 0 2px
		padding: 1px 4px 4px 
		color: #fff 
	a			
		&:hover
			color: $yl
	span
		background: $yl
		border-radius: 9px
		color: #2d2d2d 
.player
	float: right
	margin-top: 10px
	button
		float: left
.player__prev
	+s(pl-prev)
.player__next
	margin-right: 7px
	+s(pl-next)
.player__pause
	+s(pl-pause)
.player__mute	
	margin-left: 5px
	+s(pl-mute)
.player__song
	position: relative
	float: left
	width: 240px
	height: 23px
	margin-top: 2px
	border: 1px solid #000
	line-height: 23px
	background: #2d2d2d 
	box-shadow: 0 0 0 1px #272727, 0 0 0 2px #414141
	font-size: 12px
	color: #fff 
	overflow: hidden
.player__pic
	float: left
	img
		display: block
.player__info	
	position: relative
	overflow: hidden
	span, strong
		position: relative
		z-index: 2 
	span
		float: right
		margin-right: 7px
	strong
		display: block
		padding: 0 7px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		font-weight: normal
	i
		position: absolute
		top: 0
		bottom: 0
		left: 0
		background: #565656
//header
.header
	position: relative
	height: 110px
	padding: 0 20px
	border-bottom: 1px solid #f7f7f7
	box-shadow: 0 -1px 0 0 #d7d7d7 inset
	background: #f5f5f5 
.nav
	float: left
	margin-top: 49px
	a
		float: left
		padding: 0 10px
		border-left: 2px solid #dbdbdb
		+font
		color: #2d2d2d
		text-transform: uppercase
		font-size: 16px 
		&:first-child
			padding: 0 10px 0 0
			border: none 
		&:hover, &.is-active
			color: $yl 
.logo
	position: absolute
	top: 17px
	left: 50%
	margin-left: -106px
	+s(logo)
	+ht
.search-form
	float: right
	margin-top: 51px
	height: 24px
	border-radius: 5px
	background: #FFF  
	box-shadow: 0 -1px 0 1px #e0e0e0
	input, button
		float: left
	input
		width: 135px
		height: 24px
		padding-left: 15px
		background: none
		font-size: 12px
		+ph(#000)
	button
		+s(search)
		&:hover
			opacity: .7 
//menu
.menu
	position: relative
	padding: 35px 0
	margin: 0 -18px
	background: #ebebeb 
	box-shadow: 0 8px 3px -3px rgba(0,0,0,.1), 0 14px 1px -7px #f5f5f5
	text-align: center
	font-size: 0
	&:before, &:after
		content: ""
		position: absolute
		bottom: -18px
		width: 0px
		height: 0px
		border-style: solid
	&:before
		left: 0
		border-width: 0 18px 18px 0
		border-color: transparent $yl transparent transparent
	&:after
		right: 0
		border-width: 18px 18px 0 0
		border-color: $yl transparent transparent transparent
	a
		position: relative
		display: inline-block
		width: 240px
		padding-top: 100px
		border-left: 1px solid #bcbcbc 
		+font
		font-size: 26px
		color: #3c3c3c
		text-transform: uppercase  
		&:first-child
			border: none
		&:hover
			color: $yl 
		i
			position: absolute
			top: 5px
			left: 50%
			margin-left: -38px
			border-radius: 50%
.menu__item-1  
	i
		+s(menu1)
		background-color: #fff
	&:hover
		i
			+s(menu1-h)
			background-color: #fff
.menu__item-2
	i
		+s(menu2)
		background-color: #fff
	&:hover
		i
			+s(menu2-h)
			background-color: #fff
.menu__item-3
	i
		+s(menu3)
		background-color: #fff
	&:hover
		i
			+s(menu3-h)
			background-color: #fff
.menu__item-4
	i
		+s(menu4)
		background-color: #fff
	&:hover
		i
			+s(menu4-h)
			background-color: #fff
//footer
.footer
	padding: 10px 35px
	background: #3c3c3c 
	+clr	
.footer__logo
	padding: 20px 0
	overflow: hidden
	a
		float: left
		+s(logo-s)
.footer__in
	float: left
	width: 720px 
.footer__social
	float: right
	width: 194px
	padding-left: 17px
	border-left: 2px solid #4b4a4a
.footer__fb
	padding-bottom: 6px
	margin-bottom: 6px
	border-bottom: 1px solid #4b4a4a 
.footer__info
	+clr
.footer__detail
	float: left
	width: 470px
	margin-right: 45px
.footer__about
	margin-bottom: 25px
	color: #FFF
	font-size: 11px 
.footer__contacts
	+clr
	a, span
		position: relative
		float: left
		padding-left: 28px
		margin-right: 25px
		color: #FFF 
		i
			position: absolute
			top: -3px
			left: 0
	a
		&:hover
			color: $yl 
.footer__skype
	i
		+s(skype)
	&:hover
		i
			+s(skype-h)
.footer__mail
	i
		+s(mail)
	&:hover
		i
			+s(mail-h)
.footer__phone
	i
		+s(phone)
.footer__links
	float: left
.footer__nav, .footer__menu
	float: left
	li
		margin-bottom: 12px
	a
		text-transform: uppercase
		color: #FFF 
		&:hover
			color: $yl 
.footer__nav
	margin-right: 30px
.footer__menu
	a
		position: relative
		padding-right: 17px 
		&:after
			content: ""
			position: absolute
			top: 4px
			right: 0
			+s(nav-arr)
		&:hover
			&:after
				+s(nav-arr-h)
.copyright
	position: relative
	width: 1020px
	margin: 0 auto
	padding: 15px 0 30px
	text-align: center
	color: #919292
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 2px
		background: url(../img/icons/footer-bg.png) repeat-x  
//item
.item-wrap
	margin: 0 -30px -40px 0
	font-size: 0
.item
	display: inline-block
	width: 170px
	margin: 0 20px 40px 0
	vertical-align: top
	font-size: 12px
	.meta
		float: right
.item_big, .item_big
	width: 360px 
.item__date
	margin-bottom: 5px
.item__pic
	position: relative
	display: block
	margin-bottom: 5px
	text-align: center
	img
		display: block
	&:hover
		img
			opacity: .7
.item__title
	position: absolute
	left: 10px
	right: 10px
	bottom: 20px
	font-size: 30px
	font-style: italic
	&.is-white	
		color: #FFF
		text-shadow: 0 0 3px #000
	&.is-black
		color: #000 
		text-shadow: 0 0 3px #fff
.item__new
	position: absolute
	top: 12px
	left: 12px 
	width: 146px
	height: 146px	 
	background: rgba(255,200,0,.85) 
	border-radius: 50%
	+rotate(-20deg)
	line-height: 146px	
	font-weight: bold 
	font-size: 24px 
	color: #fff 
	text-transform: uppercase
	span
		display: inline-block
		vertical-align: middle
		line-height: 1
.item__desc
	margin: 7px 0 5px
.meta
	+clr	
.meta__share, .meta__comm, .meta__go
	float: left	
	margin-left: 10px
	font-size: 11px
	line-height: 15px	
	color: #aaa
	i
		float: left
		margin-right: 2px
a
	&.meta__share, &.meta__comm, &.meta__go
		&:hover
			text-decoration: underline
.meta__share
	margin-left: 0
	i
		+s(share)
.meta__comm

	i
		+s(comm)
.meta__go
	i
		+s(go)
//pager
.pager
	position: absolute
	left: 0
	right: 0
	text-align: center
	font-size: 0
	z-index: 200 
	span
		position: relative
		display: inline-block
		width: 10px
		height: 10px
		margin: 0 5px
		background: #d3d3d3
		border-radius: 50% 
		box-shadow: 0 2px 3px rgba(0,0,0,.4) inset, 0 1px 2px #fff
		cursor: pointer
		&.cycle-pager-active
			&:after
				content: ""
				position: absolute
				top: 2px
				left: 2px
				right: 2px
				bottom: 2px
				border-radius: 50%
				background: #ffcb0c
				+background-image(linear-gradient(#ffcb0c, #fdd12e)) 
//pagination
.pagination
	text-align: center
	font-size: 0
	a, span
		display: inline-block
		margin: 0 5px
		padding: 0 5px
		vertical-align: top
		font-size: 14px		
	a
		&:hover
			text-decoration: underline 	
	span
		color: $yl
		font-weight: bold	
//btn
.btn
	height: 25px
	padding: 0 15px
	border: 1px solid #e6b400
	border-radius: 3px
	background-color: #a9a9a9
	+background-image(linear-gradient(bottom, #d78207, #ffc700))
	font-size: 14px
	font-weight: bold
	color: #FFF
	&:hover
		+background-image(linear-gradient(bottom, #d78207 30%, #ffc700))
	&:active
		background: #d78207
.btn_150
	width: 150px
	text-align: center
.btn_grey
	border: 1px solid #e8e8e8
	+background-image(linear-gradient(bottom, #dcdcdc, #fbfbfb))
	color: #5c5a5a
	&:hover
		+background-image(linear-gradient(bottom, #dcdcdc 30%, #fbfbfb))
	&:active
		background: #dcdcdc	
//label
.label
	span 
		display: block
		height: 23px
		line-height: 23px
		color: #acacac 
	input
		padding: 0 5px
		height: 23px
		border: 1px solid #d7d7d7
	textarea
		padding: 3px 5px
		border: 1px solid #d7d7d7
.fieldset
	+clr

//aside
.aside
	width: 183px
	float: left
	margin-right: 20px
	padding: 14px 12px 25px
	background: #f2f2f2
	+box
.aside__nav
	margin-top: 35px
	&:first-child
		margin-top: 0
	.btn
		margin-top: 20px	
.aside__nav_blocked
	color: #aaa
	.aside__menu li a
		color: #aaa
		&:hover
			color: #aaa
.aside__title
	position: relative
	display: inline-block
	margin-bottom: 15px
	+font
	font-size: 18px
	cursor: pointer
	&:after
		content: ""
		position: absolute
		top: 8px
		right: -13px
		+s(arr-down)
.aside__menu
	font-size: 14px
	li
		margin-bottom: 5px
		a:hover
			color: $yl
	li.is-active
		a
			color: $yl
.new-message
	position: relative
	display: inline-block
	margin-left: 5px
	color: $yl
	font-weight: bold
	font-size: 12px
	&:after
		content: ""
		position: absolute
		+s(echo)
// delete
.delete
	cursor: pointer
	+s(delete)
// textarea
.textarea
	padding: 5px 15px
	+box
	border: 1px solid #d7d7d7
	font-size: 14px
// info	
.info
	position: absolute
	top: -10px
	right: -10px
	i
		display: block
		+s(info)
		cursor: pointer
.info__hint
	display: none
	position: absolute
	bottom: 16px
	left: -42px 
	width: 253px
	padding: 12px
	border: 1px solid #b2b2b2
	background: #f2f2f2 
	+box
	text-align: center
	font-size: 11px
	color: #3c3c3c
	z-index: 2
	p
		margin-bottom: 12px
		margin-top: 0!important
	&:before
		content: ""
		position: absolute
		bottom: -11px
		left: 39px
		+s(triangle2)
.info.is-open
	.info__hint
		display: block		
// spoiler
.spoiler
	padding: 0 15px
	background: #f2f2f2
	cursor: pointer
	.spoiler__title
		position: relative
		font-weight: bold
		font-size: 14px
		height: 40px
		line-height: 40px
		&:after
			content: ""
			position: absolute
			top: 16px
			right: 0
			+s(arr-down)
	.spoiler__text
		padding: 5px 0 20px
		font-size: 12px
		color: #5b5a5a
// key word
.key-word
	color: $yl				
						
